checkpoints/*
dataset/AHCDU/*.nii.gz
dataset/PI-CAI/*.nii.gz
dataset/*.nii.gz
infer/*.nii.gz
*.nii.gz
dataset/**/*.nii.gz
dataset/**/*.pkl
dataset/**/*.b2nd
dataset/**/*.npz
dataset/**/*.DS_Store
*.pth
*.png
.codex
.vscode
bmanet/network_architecture/__pycache__/__init__.cpython-310.pyc
bmanet/network_architecture/__pycache__/__init__.cpython-311.pyc
bmanet/network_architecture/__pycache__/neural_network.cpython-310.pyc
bmanet/network_architecture/__pycache__/neural_network.cpython-311.pyc
bmanet/__pycache__/__init__.cpython-310.pyc
bmanet/__pycache__/__init__.cpython-311.pyc
